body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", 
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#layout{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    height: 60px;
    width: 100%;
    padding-top: 10px;
    padding-left:10px;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(64, 64, 107);
}

#contentContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* NavBar Styles Section */

#sidebarBox{
    height: 100%;
    width: 25%;
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#listDisplay{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#defaultProjectList{
    margin-top: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;

}

#userProjects{
    height:70%;
    display: flex;
    flex-direction: column;
}

#userProjectsLists{
    height:80%;
    display: flex;
    flex-direction: column;
}

.navButton{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(202, 202, 202);
    height: 30px;
    width: 100%;
    text-align: left;    
}

.navButton:hover{
    background-color: rgb(139, 139, 139);
}


#addProjectButton{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(202, 202, 202);
    height: 30px;
    width: 100%;
    text-align: left;    
}

#addProjectButton:hover{
    background-color: rgb(139, 139, 139);
}
/* Display Box Styles Section */

#displayBox{
    height: 100%;
    width: 75%;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskDisplayBox{
    max-height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#displayBoxFooter{
    margin-top: 10px;
    height: 20%;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    
}

#taskListDisplay{
    height: 80%;
    width: 90%;
    margin-top: 5%;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskDisplayHeader{
    margin-bottom: 3%;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addTaskButton{
    border: 3px solid gray;
    border-radius: 50%;
    font-size: 36px;
    color: gray;
    background-color: rgb(202, 202, 202);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addTaskButton:hover{
    background-color: rgb(139, 139, 139);
}

/* task dislpay styles section */

.taskDisplay{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    display: grid;
    border-radius: 5px;
    border: 2px solid grey;
    grid-template-columns: .25fr 5fr 2fr 1fr .5fr;
    vertical-align: middle;
}

.taskPriority{
    height: 100%;
    border-radius: 3px;
}

.taskDisplay-Completed{
    height: 25px;
    width: 100%;
    color: white;
    background-color: grey;
    margin-bottom: 5px;
    text-align: left;
    display: grid;
    border-radius: 5px;
    border: 2px solid grey;
    grid-template-columns: .25fr 5fr 2fr 1fr .5fr;
    vertical-align: middle;
}

.taskDescription{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 13px;
}

.low{
    background-color: green;
}

.medium{
    background-color: yellow;
}

.high{
    background-color: red;
}

.completionStatus{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no{
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: .5px solid rgb(192, 192, 192);
}

.no:hover{
    border-radius: 5px;
    height: 15px;
    width: 15px;
    border: .5px solid grey;
    background-color: grey;
}

.yes{
    border-radius: 5px;
    height: 15px;
    width: 15px;
    border: .5px solid white;
    background-color: grey;
}

.yes:hover{
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: .5px solid rgb(192, 192, 192);
    background-color: rgb(231, 231, 231);
}

.taskTitle{
    height: 100%;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.taskDueDate{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteButton{
    border: none;
    background-color: rgb(231, 231, 231);
    color: rgb(231, 231, 231);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.deleteButton:hover{
    color: grey;
}

/* Add Task Display */

.addTaskDisplay{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    display: grid;
    border-radius: 5px;
    border: 2px solid grey;
    grid-template-columns: 4fr 4fr 2fr 1fr 1fr;
    vertical-align: middle;
}

.titleInput{
    border: none;
    border-radius: 2px;
    height: 90%;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.invalid{
    border: red;
}

.dueDateInput{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border:none;
}

.priorityInput{
    height: 100%;
    border: none;
}

#submitButton, #cancelButton{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#cancelButton:hover, #submitButton:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: grey;
    color: white;
}